<body>
    <div class="container">
        <div class="header">
            <h1>Vitor Soler Aguilar</h1>
        </div>


        <div class="flex-container">
            <div>
                <a href="https://www.linkedin.com/in/vitorsoleraguilar/" target="_blank">LinkedIn</a>
            </div>
            <div>
                <a href="https://github.com/VitorSolerAguilar" target="_blank">GitHub</a>
            </div>
            <div>                
                <p>E-mail: vitorsoleraguilar49gmail.com</p>
            </div>           
            <div>
                <p>Telefone: (11)95085-6588</p>
            </div>
        </div>


        <div style="text-align: center;">
            <h2 style="margin-bottom: 0px;">Objetivo</h2>
            <p style="margin-top: 0px;">Analista de Sitemas</p>
        </div>

        <div>

            <h2>Formação Acadêmica</h2>
            <p>Fatec Itu - Dom Amaury Castanho - 01/2024 a 01/2027</p>
            <p>Curso Superior de Tecnologia: Análise e Desenvolvimento de Sistemas.</p>
            <br>
            <p>Etec Martinho Di Ciero - Etec Itu - 07/2021 a 12/2022</p>
            <p>Ensino Técnico: Desenvolvimento de Sistema.</p>
            <br>
            <p>MicroPro Itu - 07/2017 a 01/2019</p>
            <p>Ensino Técnico: Analista em Suporte Técnico.</p>
        </div>

        <br>

        <div>
            <h2>Historico Profissional</h2>
            <p class="historicoProfissional">
                <strong>Conferente - PepsiCo - <span class="no-spacing">07/2024 - até o momento</span></strong>
            </p>

            <ul>
                <li>Montar Pellets</li>
                <li>Fechar Volumes</li>
                <li>Montagem de Cargas</li>
                <li>Etiquetagem de Volumes</li>
                <li>Organização de Estoque</li>
                <li>Realizar Primeira Contagem de Inventário do Estoque</li>
                <li>Realizar a Separação da Quantidade de Produtos Determinada</li>
            </ul>

            <p style="word-spacing: 140px;">
                <strong><span class="no-spacing">Técnico de Laboratório JR.</span> - <span class="no-spacing">Isolet
                        Industria e Comercio Ltda</span> - <span class="no-spacing">09/2023 - 12/2023</span></strong>
            </p>

            <ul>
                <li>Arranjo Físico</li>
                <li>Visual de Isoladores</li>
                <li>Relatório de Amostragem</li>
                <li>Organização de Laboratório</li>
                <li>Leitura e interpretação de Relatórios</li>
                <li>Exatidão Transformadores de Corrente (TC)</li>
                <li>Exatidão Transformadores de Potencial (TP)</li>
            </ul>

            <p style="word-spacing: 190px;">
                <strong><span class="no-spacing">Técnico em Mecatrônica</span> - <span class="no-spacing">Fatec
                        Itu</span> - <span class="no-spacing">10/2022 - 09/2023</span></strong>
            </p>

            <ul>
                <li>Almoxarifado</li>
                <li>Arranjo Físico</li>
                <li>Manufatura Aditiva</li>
                <li>Montagem de Protótipos</li>
                <li>Organização de Laboratório</li>
                <li>Programação de Embarcados</li>
                <li>Manutenção de Equipamentos</li>
            </ul>

        </div>

        <div>
            <br>
            <h2>Certificações</h2>
            <p>DIO Campus Expert Turma 08 – 30 horas – Digital Innovation One – 2024.</p>
            <p>.NET Developer – 84 horas – Digital Innovation One – 2024.</p>
            <p>Introdução ao Git e ao GitHub - 5 horas - Digital Innovation One - 2022.</p>
            <p>Introduçãoo a Clean Code e SOLID com .NET e C# - 2 horas - Digital Innovation One - 2022.</p>
        </div>
    </div>
</body>